@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #073b4c;
}

.logo {
  margin-right: auto;
  height: 50;
  width: 50;
}

.nav__links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #06d6a0;
  text-decoration: none;
}

.cta {
  background-color: #06d6a0;
  padding: 9px 25px;
  display: block;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #06d6a0;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: white;
  color: #06d6a0;
  border: 1px solid #06d6a0;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #073b4c;
}

#footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: #06d6a0;
}
.i {
  color: white;
}
.i:hover {
  color: #06d6a0;
}
hr {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
  width: 25%;
}

.modal_button {
  background-color: #06d6a0;
  padding: 6px;
  display: block;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #06d6a0;
}

.callToAction {
  background-color: #06d6a0;
  padding: 6px 25px;
  display: block;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #06d6a0;
}
.callToAction:hover {
  background-color: white;
  color: #06d6a0;
  border: 1px solid #06d6a0;
}

.callToActionLink {
  background-color: #06d6a0;
  padding: 6px 25px;

  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #06d6a0;
}
.callToActionLink:hover {
  background-color: white;
  color: #06d6a0;
  text-decoration: none;
  border: 1px solid #06d6a0;
}
.modal_button:hover {
  background-color: white;
  color: #06d6a0;
  border: 1px solid #06d6a0;
}
/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #06d6a0;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  footer h4 {
    text-align: center;
  }
  #date {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
.cnter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer h4 {
  text-align: center;
}

.bg-black {
  background-color: black;
}
.font-div {
  width: 40%;
}

.link {
  color: white;
}
.link:hover {
  text-decoration: none;
  color: #06d6a0;
}

.card card-body {
  width: 50%;
}
/* .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
} */
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

._btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

._btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}
@media only screen and (min-width: 1198px) {
  .font-div {
    padding: 52.5px 0px !important;
  }
}
@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.card:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.bt {
  color: skyblue;
}
.offering {
  margin-top: 50px;
}
.hd1 {
  text-align: center;
}
.studymat {
  float: left;
  margin-top: 40px;
  margin-left: 50px;
}
.sttext {
  float: left;
  margin-top: auto;
  flex: initial;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
